body{
  font-family: 'Raleway', sans-serif;
}

/****************************************************
                  INTRO PAGE START
****************************************************/
.intro {
  background: #fd746c;
  background: -webkit-linear-gradient(to right, #ff9068, #fd746c);
  background: linear-gradient(to right, #ff9068, #fd746c);
  height: 100vh;
}

.centeredDiv {
  text-align: center;
  max-width: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centeredDiv h3 {
  font-size: 2.5em;
  color: white;
}

.centeredDiv p {
  color: white;
  font-size: 1.2em;
}
.startState{
  margin: 0px;
}
.centeredDiv button{
  border-radius: 5px;
  padding: 15px 70px;
  font-size: 1.2em;
  background: #007380;
  border: none;
  margin-top: 20px;
}
/****************************************************
                  INTRO PAGE END
****************************************************/