body {
  font-family: 'Raleway', sans-serif;
}

.background {
  background: #fd746c;
  background: -webkit-linear-gradient(to right, #ff9068, #fd746c);
  background: linear-gradient(to right, #ff9068, #fd746c);
  height: 100vh;
}

/****************************************************
                  NAVIGATION START
****************************************************/
.navigation p {
  margin: 0;
}

.navigation .navbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.gameDiv .navigation {
  max-width: 900px;
}

.gameDiv .centeredDiv {
  width: 100%;
  background: white;
  border-radius: 5px;
  min-height: 400px;
  -webkit-box-shadow: 0px 0px 28px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 28px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 28px 2px rgba(0, 0, 0, 0.75);
}
.gameDiv p{
  color: black !important;
}

.navigation h1 {
  margin: 0;
}

/****************************************************
                  NAVIGATION END
****************************************************/


/****************************************************
                  LEVEL INFO START
****************************************************/

.levelInfo{
  padding: 6% 5%;
  padding-bottom: 10px;
}
.centeredDiv input{
  margin-bottom: 4%;
  border: solid black 1px;
  border-radius: 5px;
  padding: 10px 30px;
}

.levelOneResults p{
  padding: 0px;
  margin: 0px;
}
.invalidInput{
  color: red !important;
}


/****************************************************
                  LEVEL INFO END
****************************************************/



/****************************************************
                  INTRO PAGE START
****************************************************/


.centeredDiv {
  text-align: center;
  max-width: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centeredDiv h3 {
  font-size: 2.5em;
  color: white;
}

.centeredDiv p {
  color: white;
  font-size: 1.2em;
}

.startState {
  margin: 0px;
}

.centeredDiv button {
  border-radius: 5px;
  padding: 15px 70px;
  font-size: 1.2em;
  background: #007380;
  border: none;
  margin-top: 20px;
}

/****************************************************
                  INTRO PAGE END
****************************************************/